[Unit]
Description=HYHQ hourly simulated data generation

[Timer]
OnCalendar=hourly
Persistent=true
Unit=hyhq-simulation.service

[Install]
WantedBy=timers.target
